In [1]:
#Using Imports to ensure code can be read correctly with the correct libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#uploading file for review and to begin data cleaning whilst using class notes taufique M (2025)

In [4]:
#review first few lines to preview the data set. uploaded csv file to files on jupyter
df = pd.read_csv('Salary_Survey.csv', low_memory=False)
df.head(10)

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",...,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,...,5-7 years,5-7 years,Master's degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Non-binary,NaN,NaN,NaN,NaN,NaN,NaN
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,...,2 - 4 years,2 - 4 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,...,8 - 10 years,2 - 4 years,Master's degree,Man,NaN,NaN,NaN,NaN,NaN,NaN
6,4/27/2021 11:02:51,25-34,Publishing,Publishing Assistant,NaN,"33,000",2000.0,USD,NaN,NaN,...,2 - 4 years,2 - 4 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
7,4/27/2021 11:03:00,25-34,Education (Primary/Secondary),Librarian,"High school, FT","50,000",NaN,USD,NaN,NaN,...,5-7 years,5-7 years,Master's degree,Man,NaN,NaN,NaN,NaN,NaN,NaN
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,...,21 - 30 years,21 - 30 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
9,4/27/2021 11:03:02,35-44,"Accounting, Banking & Finance",Senior Accountant,NaN,"45,000",0.0,USD,NaN,I work for a Charter School,...,21 - 30 years,21 - 30 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#reviewing first ten rows i can see many NaN sections with no values and rows that need to be removed. for the purpose of this assignment, I am removing the currency section also as salaries will be referenced in euro due to class advising it is causing too many errors.

In [6]:
df.shape, df.columns.tolist()

((28178, 23),
 ['Timestamp',
  'How old are you?',
  'What industry do you work in?',
  'Job title',
  'If your job title needs additional context, please clarify here:',
  "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)",
  'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
  'Please indicate the currency',
  'If "Other," please indicate the currency here: ',
  'If your income needs additional context, please provide it here:',
  'What country do you work in?',
  "If you're in the U.S., what state do you work in?",
  'What city do you work in?',
  'How many years of professional work experience do you have overall?',
  'How many years of professional work experience do you have in your field?',
  'What is your highest level of education completed?',
  'What is your gender?',
  'Unnamed: 17',
  'Unnamed: 18',
  'Unnamed: 19',
  'Unnamed: 20',
  'Unnamed: 21',
  'Unnamed: 22'])

In [7]:
#need to drop rows 
for c in df.select_dtypes(include='object').columns:
    df[c].apply(lambda v: np.nan if (isinstance(v, str) and v.strip()=='') else v)
    df = df.dropna(how='all')

In [8]:
#dropping salary curency row: 
df=df.drop(columns=["Please indicate the currency"])
df=df.drop(columns=["Unnamed: 17", "Unnamed: 18", "Unnamed: 19", "Unnamed: 20", "Unnamed: 21", "Unnamed: 22"])

In [9]:

#rechecking this was dropped
print(df.head(10))

            Timestamp How old are you?  What industry do you work in?  \
0  4/27/2021 11:02:10            25-34   Education (Higher Education)
1  4/27/2021 11:02:22            25-34              Computing or Tech
2  4/27/2021 11:02:38            25-34  Accounting, Banking & Finance
3  4/27/2021 11:02:41            25-34                     Nonprofits
4  4/27/2021 11:02:42            25-34  Accounting, Banking & Finance
5  4/27/2021 11:02:46            25-34   Education (Higher Education)
6  4/27/2021 11:02:51            25-34                     Publishing
7  4/27/2021 11:03:00            25-34  Education (Primary/Secondary)
8  4/27/2021 11:03:01            45-54              Computing or Tech
9  4/27/2021 11:03:02            35-44  Accounting, Banking & Finance

                                  Job title  \
0        Research and Instruction Librarian
1  Change & Internal Communications Manager
2                      Marketing Specialist
3                           Program Manager
4                        Accounting Manager
5            Scholarly Publishing Librarian
6                      Publishing Assistant
7                                 Librarian
8                           Systems Analyst
9                         Senior Accountant

  If your job title needs additional context, please clarify here:  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                    High school, FT
8                       Data developer/ETL Developer
9                                                NaN

  What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                             55,000
1                                             54,600
2                                             34,000
3                                             62,000
4                                             60,000
5                                             62,000
6                                             33,000
7                                             50,000
8                                            112,000
9                                             45,000

   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                0.0
1                                             4000.0
2                                                NaN
3                                             3000.0
4                                             7000.0
5                                                NaN
6                                             2000.0
7                                                NaN
8                                            10000.0
9                                                0.0

  If "Other," please indicate the currency here:   \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
5                                             NaN
6                                             NaN
7                                             NaN
8                                             NaN
9                                             NaN

  If your income needs additional context, please provide it here:  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                        I work for a Charter School

  What country do you work in?  \
0                United States
1               United Kingdom
2                           US
3                          USA
4                           US
5                          USA
6                          USA
7                United States
8                           US
9                United States

  If you're in the U.S., what state do you work in? What city do you work in?  \
0                                     Massachusetts                    Boston
1                                               NaN                 Cambridge
2                                         Tennessee               Chattanooga
3                                         Wisconsin                 Milwaukee
4                                    South Carolina                Greenville
5                                     New Hampshire                   Hanover
6                                    South Carolina                  Columbia
7                                           Arizona                      Yuma
8                                          Missouri                 St. Louis
9                                           Florida                Palm Coast

  How many years of professional work experience do you have overall?  \
0                                          5-7 years
1                                       8 - 10 years
2                                        2 - 4 years
3                                       8 - 10 years
4                                       8 - 10 years
5                                       8 - 10 years
6                                        2 - 4 years
7                                          5-7 years
8                                      21 - 30 years
9                                      21 - 30 years

  How many years of professional work experience do you have in your field?  \
0                                          5-7 years
1                                          5-7 years
2                                        2 - 4 years
3                                          5-7 years
4                                          5-7 years
5                                        2 - 4 years
6                                        2 - 4 years
7                                          5-7 years
8                                      21 - 30 years
9                                      21 - 30 years

  What is your highest level of education completed? What is your gender?
0                                    Master's degree                Woman
1                                     College degree           Non-binary
2                                     College degree                Woman
3                                     College degree                Woman
4                                     College degree                Woman
5                                    Master's degree                  Man
6                                     College degree                Woman
7                                    Master's degree                  Man
8                                     College degree                Woman
9                                     College degree                Woman

In [10]:
#need to check the raw data for EDA or outliers 
col_salary = [c for c in df.columns if 'annual salary' in c.lower()]
col_bonus = [c for c in df.columns if 'additional monetary compensation' in c.lower()]
if col_salary:
    sc = col_salary[0]
    df[sc] = (df[sc].astype(str)
    .str.replace(',','', regex=False)
    .str.replace(r'[^\d\.\-]','', regex=True))
df[sc] = pd.to_numeric(df[sc], errors='coerce')
if col_bonus:
    bc = col_bonus[0]
    df[bc] = (df[bc].astype(str)
    .str.replace(',','', regex=False)
    .str.replace(r'[^\d\.\-]','', regex=True))
df[bc] = pd.to_numeric(df[bc], errors='coerce')

In [12]:
df.head(4)

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.","If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman

In [17]:
dup_before = df.duplicated() .sum()
df = df.drop_duplicates(keep='first')
dup_after = df.duplicated() .sum()
salary_cols = [c for c in df.columns if 'salary' in c.lower()]
if salary_cols:
    sc = salary_cols[0]
    q1 = df[sc].quantile(0.25); q3 = df[sc].quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5*iqr; upper = q3 + 1.5*iqr
    n_before = df.shape[0]
    df = df[(df[sc].isna()) | ((df[sc] >=lower) & (df[sc] <= upper))]
    n_after = df.shape[0]
    dup_before, dup_after, n_before, n_after
    n_after = df.shape[0]

In [18]:
df.describe(include='all')
df.isnull() .sum() .sort_values(ascending=False)

If "Other," please indicate the currency here:                                                                                                                                                                                          26786
If your income needs additional context, please provide it here:                                                                                                                                                                        24098
If your job title needs additional context, please clarify here:                                                                                                                                                                        19894
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                           7053
If you're in the U.S., what state do you work in?                                                                                                                                                                                        4772
What is your highest level of education completed?                                                                                                                                                                                        206
What is your gender?                                                                                                                                                                                                                      162
What city do you work in?                                                                                                                                                                                                                  78
What industry do you work in?                                                                                                                                                                                                              71
Job title                                                                                                                                                                                                                                   1
Timestamp                                                                                                                                                                                                                                   0
How old are you?                                                                                                                                                                                                                            0
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)        0
What country do you work in?                                                                                                                                                                                                                0
How many years of professional work experience do you have overall?                                                                                                                                                                         0
How many years of professional work experience do you have in your field?                                                                                                                                                                   0
dtype: int64

In [23]:
print("Duplicates before removal:",df.duplicated().sum())
df= df.drop_duplicates()
print(df.duplicated().sum())

Duplicates before removal: 0
0

In [25]:
print("outliers removed. Remaining rows:",
len(df))

outliers removed. Remaining rows: 26898

In [ ]:
#Originally we had 28178 - 26898 = 1280 outliers removed from the dataset to clean it up.

In [27]:
df.to_csv('Cleaned_Salary_Survey.csv',
          index=False)

In [31]:
from IPython.display import FileLink

FileLink('Cleaned_Salary_Survey.csv')

C:\Users\catha\Cleaned_Salary_Survey.csv

In [32]:
df.head(20)

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.","If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,62000,NaN,NaN,NaN,USA,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man
6,4/27/2021 11:02:51,25-34,Publishing,Publishing Assistant,NaN,33000,2000.0,NaN,NaN,USA,South Carolina,Columbia,2 - 4 years,2 - 4 years,College degree,Woman
7,4/27/2021 11:03:00,25-34,Education (Primary/Secondary),Librarian,"High school, FT",50000,NaN,NaN,NaN,United States,Arizona,Yuma,5-7 years,5-7 years,Master's degree,Man
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,112000,10000.0,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman
9,4/27/2021 11:03:02,35-44,"Accounting, Banking & Finance",Senior Accountant,NaN,45000,0.0,NaN,I work for a Charter School,United States,Florida,Palm Coast,21 - 30 years,21 - 30 years,College degree,Woman
10,4/27/2021 11:03:03,25-34,Nonprofits,Office Manager,NaN,47500,0.0,NaN,NaN,United States,NaN,"Boston, MA",5-7 years,5-7 years,College degree,Woman
11,4/27/2021 11:03:07,35-44,Education (Higher Education),Deputy Title IX Coordinator/ Assistant Directo...,NaN,62000,0.0,NaN,NaN,USA,Pennsylvania,Scranton,11 - 20 years,5-7 years,PhD,Woman
12,4/27/2021 11:03:09,35-44,"Accounting, Banking & Finance",Manager of Information Services,NaN,100000,0.0,NaN,NaN,United States,Michigan,Detroit,11 - 20 years,11 - 20 years,College degree,Man
13,4/27/2021 11:03:10,25-34,Law,Legal Aid Staff Attorney,non-profit law firm,52000,0.0,NaN,NaN,United States,Minnesota,Saint Paul,2 - 4 years,2 - 4 years,NaN,Woman
14,4/27/2021 11:03:11,18-24,Health care,Patient care coordinator,NaN,32000,NaN,NaN,NaN,Canada,NaN,Remote,1 year or less,1 year or less,College degree,Woman
15,4/27/2021 11:03:11,35-44,Utilities & Telecommunications,Quality And Compliance Specialist,NaN,24000,500.0,NaN,NaN,United Kingdom,NaN,Lincoln,11 - 20 years,5-7 years,College degree,Man
16,4/27/2021 11:03:13,35-44,Business or Consulting,Executive Assistant,NaN,85000,5000.0,NaN,NaN,USA,Illinois,Chicago,8 - 10 years,8 - 10 years,Some college,Woman
17,4/27/2021 11:03:19,45-54,Art & Design,graphic designer,NaN,59000,NaN,NaN,NaN,usa,California,Pomona,21 - 30 years,21 - 30 years,College degree,Woman
18,4/27/2021 11:03:21,35-44,Business or Consulting,Senior Manager,NaN,98000,1000.0,NaN,NaN,USA,Georgia,Atlanta,11 - 20 years,2 - 4 years,Master's degree,Woman
19,4/27/2021 11:03:23,35-44,Education (Higher Education),Assistant Director of Academic Advising,NaN,54000,NaN,NaN,NaN,United States,Florida,Boca Raton,11 - 20 years,11 - 20 years,Master's degree,Woman